[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
inky = "*"
font-fredoka-one = "*"
AWSIoTPythonSDK = "*"
Pillow = "*"

[dev-packages]
pylama = "*"
psb = {editable = true, path = "."}
pylint = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
