[Unit]
Description=Status Board Python Updated
After=network.target

[Service]
Type=simple
User=statusboard
ExecStart=/usr/bin/python3 /home/statusboard/aws-iot/status_board.py
SyslogIdentifier=StatusBoard

[Install]
WantedBy=multi-user.target